/*	APPTREVETE SITE 	*/
/*	PABLO E. LUJAMBIO 	*/
/*  LOCAL.CSS 			*/

#navbar{
	position:fixed;
	z-index:200;
}
#menu-container{
	overflow:hidden;
}
#menu{
	background:rgba(244,244,244,.95);
	position:fixed;
	opacity:0;
	pointer-events:none;
	z-index:50;
}
.icons{
	position:absolute;
	z-index:300;
	left:0;
}
.bg-aqua{
	background-color:#0dce91;
}
.bg-gradient{
	background: -webkit-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* W3C */	
}
.gradient-overlay{
	background: -webkit-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* W3C */
   	opacity:.85;
   	z-index:0;
	position:absolute;
	top:0;
	left:0;
}
.shrimp-overlay{

	background: -webkit-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #e43a15 10%, #e65245 90%); /* W3C */
   	opacity:.85;
	position:absolute;
	top:0;
	left:0;

}
.black-overlay{
	position:absolute;
	background-color:rgba(0,0,0,.75);
}
#c{
	position:absolute;
	top:0%;
}
/*
#render-1{
	background:url(../img/render-1-white-crop.png);
	background-size: auto 100%;
	background-position:center right;
	background-repeat:no-repeat;
}
*/
#render-3-black{
	background:url(../img/render-3-black.png);
	background-size:90% auto;
	background-repeat:no-repeat;
	background-position:center center;
}
@media screen and (max-width:1025px){
#render-3-black{
	background-size:auto 90%;
}	
}
#prueba{
	background:url(../img/bg-04.svg);
}
#muestra{
	background:url(../img/bg-skate.jpg);
}
.skate-bg{
	background:url(../img/bg-skate.jpg);
	background-position:center center;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
}
#section-1-cont{
	z-index:100;
}
#section-1 img{
}
#section-3{
	background:url(../img/bg-03.svg);
}

#section-5{
	background:url(../img/bg-03.svg);
}
/*#section-5{
	background:url(../img/bg-04.svg), rgb(205, 220, 57);
	background-position:center bottom;
}
*/